In [1]:
l1 = [1, "apple", "banana", "apple", "apple", "hmm", 3.4, "123"]
l2 = [2, 4, 5, "ball", "345", "bat", 2]

In [18]:
l1 + l2
l1

[1,
 'apple',
 'banana',
 'apple',
 'apple',
 'hmm',
 3.4,
 '123',
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2]

In [7]:
l1.extend(l2)

In [8]:
print(l1)

[1, 'apple', 'banana', 'apple', 'apple', 'hmm', 3.4, '123', 2, 4, 5, 'ball', '345', 'bat', 2, 2, 4, 5, 'ball', '345', 'bat', 2, 2, 4, 5, 'ball', '345', 'bat', 2]

In [9]:
l3 = l1
print(l3)

[1, 'apple', 'banana', 'apple', 'apple', 'hmm', 3.4, '123', 2, 4, 5, 'ball', '345', 'bat', 2, 2, 4, 5, 'ball', '345', 'bat', 2, 2, 4, 5, 'ball', '345', 'bat', 2]

In [10]:
for l in l3:
    print(l)

1
apple
banana
apple
apple
hmm
3.4
123
2
4
5
ball
345
bat
2
2
4
5
ball
345
bat
2
2
4
5
ball
345
bat
2

In [11]:
for l in l3:
    if l =="apple":
        print(l)

apple
apple
apple

In [12]:
l3.count("apple")

3

In [13]:
l3.reverse()

In [14]:
l3

[2,
 'bat',
 '345',
 'ball',
 5,
 4,
 2,
 2,
 'bat',
 '345',
 'ball',
 5,
 4,
 2,
 2,
 'bat',
 '345',
 'ball',
 5,
 4,
 2,
 '123',
 3.4,
 'hmm',
 'apple',
 'apple',
 'banana',
 'apple',
 1]

In [15]:
l3.reverse()

In [16]:
l3

[1,
 'apple',
 'banana',
 'apple',
 'apple',
 'hmm',
 3.4,
 '123',
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2]

In [17]:
len(l3)

29

In [19]:
del l3[6:20]

In [20]:
l3

[1,
 'apple',
 'banana',
 'apple',
 'apple',
 'hmm',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2]

In [21]:
l3.remove("apple")

In [22]:
l3

[1,
 'banana',
 'apple',
 'apple',
 'hmm',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2]

In [23]:
l4 = "apple" in l3
l4

True

In [24]:
l5 = [x*x for x in range(1,5)]
l5

[1, 4, 9, 16]

In [28]:
# take second element for sort
def takeSecond(elem):
    return elem[1]

# random list
random = [ (3, 2),(5, 2),(2, 1), (1, 3)]

# sort list with key
random.sort(key = takeSecond)

# print list
print('Sorted list:', random)

Sorted list: [(2, 1), (3, 2), (5, 2), (1, 3)]

In [41]:
# sorting using custom key
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

# employees.sort(key = lambda x: x.get('age'))
# print(employees)

emp = sorted(employees, key= lambda x: x.get("Name"), reverse = True)
emp

[{'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
 {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'Name': 'Alan Turing', 'age': 25, 'salary': 10000}]

In [43]:
l3.insert(3, "awais") # insert 3rd number par ja kr awais ko likhy ga yeh 1 se count karta hy
l3

[1,
 'banana',
 'apple',
 'awais',
 'apple',
 'hmm',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2]

In [44]:
l3.insert(3,"malik") # insert 3rd number par ja kr malik ko likhy ga yeh 1 se count karta hy
l3

[1,
 'banana',
 'apple',
 'malik',
 'awais',
 'apple',
 'hmm',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2]

In [45]:
l3.pop(4)

'awais'

In [48]:
del l3[7:11]
l3

[1, 'banana', 'apple', 'malik', 'apple', 'hmm', 'bat']

[1, 'banana', 'apple', 'malik', 'apple', 'hmm', 'bat', 'ball', '345', 'bat', 2]

In [49]:
l1

[1, 'banana', 'apple', 'malik', 'apple', 'hmm', 'bat']

In [50]:
l1 = l3

In [51]:
l3

[1, 'banana', 'apple', 'malik', 'apple', 'hmm', 'bat']

In [52]:
l3.append("1")
l3

[1, 'banana', 'apple', 'malik', 'apple', 'hmm', 'bat', '1']

In [53]:
l1

[1, 'banana', 'apple', 'malik', 'apple', 'hmm', 'bat', '1']

In [54]:
del l3[-3: -1]

In [55]:
l1

[1, 'banana', 'apple', 'malik', 'apple', '1']

In [56]:
l3

[1, 'banana', 'apple', 'malik', 'apple', '1']

In [58]:
l3 = l1.copy()

In [59]:
l3

[1, 'banana', 'apple', 'malik', 'apple', '1']

In [60]:
l3.append("23")

In [61]:
l3

[1, 'banana', 'apple', 'malik', 'apple', '1', '23']

In [62]:
l1

[1, 'banana', 'apple', 'malik', 'apple', '1']

In [63]:
l3 = l1[:]

In [64]:
l3

[1, 'banana', 'apple', 'malik', 'apple', '1']

In [65]:
l3.append("2")

In [66]:
l1

[1, 'banana', 'apple', 'malik', 'apple', '1']

In [67]:
l3

[1, 'banana', 'apple', 'malik', 'apple', '1', '2']

# List comprehension

In [72]:
list = [x for x in l3 if "apple" == x]
list

['apple', 'apple']

In [77]:
l3

[1, 'banana', 'apple', 'malik', 'apple', '1', '2']

In [79]:
del l3[0]

In [80]:
del l3[-2:-1]

In [81]:
l3

['banana', 'apple', 'malik', 'apple', '2']

In [82]:
del l3[-1: -2]

In [83]:
l3

['banana', 'apple', 'malik', 'apple', '2']

In [84]:
del l3[-1:]

In [85]:
l3

['banana', 'apple', 'malik', 'apple']

In [86]:
newList = [x for x in l3 if "l" in x]
newList

['apple', 'malik', 'apple']