### Pandas

In [8]:
import pandas as pd
import numpy as np

In [22]:
list1 = [12, 34, 13, 3,4,5,5,43,1,2]
marks = [12, 34, 13, 3,4,5,5,43,1,2]
name = ['awais', 'imran', 'shalaku', 'malaku', 'arif','awais', 'nayyar', 'anas', 'ahmad', 'arslan']

In [14]:
s = pd.Series(list1, name='marks')
s

0    12
1    34
2    13
3     3
4     4
5     5
6     5
7    43
8     1
9     2
Name: marks, dtype: int64

In [23]:
s1 = pd.Series(marks, name, dtype=np.int64, name='marks')
s1

awais      12
imran      34
shalaku    13
malaku      3
arif        4
awais       5
nayyar      5
anas       43
ahmad       1
arslan      2
Name: marks, dtype: int64

In [24]:
s1['awais']

awais    12
awais     5
Name: marks, dtype: int64

In [27]:
list1 = ['Arif', 'Rauf', 'Maaz', 'Hadeed']
#indices = [True, False, True, False] 
indices = [[1,2], {2,3}, (2,4),(3,4)]

s = pd.Series(data=list1, index=indices)
print(s)
print(type(s))

[1, 2]      Arif
{2, 3}      Rauf
(2, 4)      Maaz
(3, 4)    Hadeed
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
list1 = ['Rauf', 'Arif', 'Maaz', 'Hadeed', 'Mujahid']
indices = ['num1', 'num2', 'num3', 'num4', 'num5']
#indices = [1,2,3,4,5]
s = pd.Series(data=list1, index=indices)
s